.App {
  box-sizing: content-box;
  width: 100%;
  margin-left: 2em;
  background: rgb(233, 153, 116);
  font-size: 16px;
  font-family: cursive;
  font-weight: 250 bold;
  line-height: 1.8;
}
.header{
  width: 79%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.subtitulo-nosotros,.title-nosotros{
  text-align: center;
  font-size: 50px;
  text-shadow: 7px 4px 5px rgba(92, 52, 29, 0.623);
  color: rgb(226, 173, 119);
  font-family: Verdana ;

}

.h3, h3{
 
  text-align: center;
  font-family: Verdana ;
  color: rgb(226, 173, 119);
  text-shadow: 7px 4px 5px rgba(109, 64, 38, 0.623);
  text-decoration: underline;

}

.card-body, .presentacion{
  font-family: cursive;
  font-style: oblique;
  font-size: 20px;
}


.footer{

  text-transform: capitalize;
  text-align: center;
  font-size :30px;
  font-style: inherit;
  font-family: 'serif',fantasy;
  word-spacing: 8px;
  padding-top: 20px;
}

.leaflet-container {
  width: 60vw;
  height: 60vh;
  border:0;
}

.contenedor-home{
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.titulo-home{
  text-align: center;
  font-size: 60px;
  color: rgb(226, 173, 119);
  font-family: Verdana ;
  font-style:italic;
  text-shadow: 7px 4px 5px rgba(58, 33, 19, 0.623);
  font-weight:bolder;
  padding-top: 50px;
}

.card{

  border: 1px lightsalmon solid;
  background-color: ivory;
}


.nav{
  background-color: rgb(150, 112, 73);
}

.nav-link{

  color: rgb(241, 176, 133);
}
.nav-btn{

  margin-bottom: 12px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(233, 179, 125);
  
  transition-timing-function: .15s ease-in-out;
}

button{
    margin:15px;
    padding: 15px;
    border-radius:26px;
    border-bottom: 5px double;
    font-family: Verdana;
    font-size: 18px;
    border-color: black;
    color: darksalmon;
    background-color: cornsilk;
    
}
.title-nosotros, .categorias{
  padding-top: 50px;
}
.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:13px;
}