.App {
  margin-left: 2em;
}
.leaflet-container {
  width: 60vw;
  height: 60vh;
  border:0;
  
 }
 .contenedor-home{
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
 }
 .presentacion{
   font-size: 500px;
   padding: 50px;
 }